<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmeadminfotografo/css/alta_fotografo_form.css') }}"
    
</head>
<body>
   
    <div id="contenedorGeneral">
        <div id="rotulo"><h1>Esquinas</h1></div>
        <div id="contenidoPrincipal">
            
            <img src="{{ asset('bundles/acmeadminfotografo/images/encabezado_intranet_r1_c1.jpg') }}" />
            
        </div>
        <div id="zonaSecundaria">
            <img src="{{ asset('bundles/acmeadminfotografo/images/encabezado_intranet_r1_c2.jpg') }}" />

        </div>
        <div id="zonaTerciaria">
            <tr>
                <td align="center" height="68">
                    <img src="{{ asset('bundles/acmeadminfotografo/images/logo_susitio_intra.gif') }}" />
                </td>
            
            </tr>
            <tr>
                <td valign="bottom" >
                    <img height="23" width="248" src="{{ asset('bundles/acmeadminfotografo/images/encabezado_intranet_r2_c3.jpg') }}" />
                </td>
            
            </tr>
            
            
        </div>
        <div id="pieDeTabla">Pie de p&aacute;gina</div>
   
    </div>
    
</body>
</html>
